#shortDesc{

    position: absolute;

    left: 4%;
    top: 34%;

    font-size: 20px;
    opacity: 0;

}

#wreathHeader{

    position: absolute;

    left: 31%;
    top: 23%;

    width: 10px;

    opacity: 0;
}

#wreathImage{
    
    position: absolute;

    left: 1%;
    top: 55%;
}
#wreathImage li{ display: inline-block; padding-left: 90px; opacity: 0;}
#wreathImage img{width: 120%;}

#wreathDesc{

   position: absolute;

   left: 85%;
   top: 62%;

   font-size: 120%;
   opacity: 0;
}

